/* src/index.css */

/* ==================== TAILWIND ==================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== RESET GLOBAL ==================== */
/* Elimina márgenes y padding por defecto del navegador */

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('./assets/fonts/inter.woff2') format('woff2');
}

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif !important;
	height: 100%;
	overflow: hidden;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* ==================== SCROLLBAR PERSONALIZADA (Opcional) ==================== */
/* Scrollbar para navegadores Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* ==================== FUENTES SUAVIZADAS ==================== */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
